body, .project-card, .site-header {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* DARK THEME */
body.dark-theme {
    --bg: #121212;
    --text: #ffffff;
    --muted: #a0a0a0;
    --card-bg: #1e1e1e;
    --shadow-sm: 0 4px 12px rgba(223, 219, 219, 0.5);
    --shadow-lg: 0 4px 12px rgba(223, 219, 219, 0.5);
}

body.dark-theme .site-header {
    background: rgba(18, 18, 18, 0.9);
}

body.dark-theme .avatar{
    border-color:#a9f4ae48;
}

body.dark-theme .btn{
    color: white;
}

body.dark-theme .clearBtn{
    color: white;
    background-color: #a0a0a0;
}


body.dark-theme input, 
body.dark-theme textarea {
    background: #2d2d2d;
    color: white;
    border-color: #444;
}

/* BLUE THEME */
body.blue-theme {
    --bg: #e3f2fd;
    --text: #113d80;
    --muted: #1976d2;
    --brand: #1565c0;
    --card-bg: #bbdefb;
}

body.blue-theme .site-header{
    background: #79aaf4;
}

body.blue-theme .avatar{
    border-color:#8cbdee62;
}

body.blue-theme .btn {
    background-color: #0d47a1;
    color: white;
}

body.blue-theme .clearBtn{
    color: white;
    background-color: #619cdb;
}
